@import "vars";


/*==========  Desktop First  ==========*/
@media only screen and (min-width : 1400px){

}

@media only screen and (max-width : 1428px){

}

@media only screen and (min-width : 576px) and (max-width : 952px){

}

@media only screen and (min-width : 1200px) and (max-width :  1366px){


}

//Extra large: ≥1200px
@include media-breakpoint-down(xl) {

}

//Large: ≥992px
@include media-breakpoint-down(lg) {

}

//Medium: ≥768px
@include media-breakpoint-down(md) {
#menu_nav{
	margin-right: 6%;
}

.header_slogan{
	h3{
		font-size: 35px;
		margin-bottom: 45px;
	}
	h2{
		font-size: 16px;
	}
	h3:before,h3:after{
		width: 8%;
	}
}

.item:nth-child(2n+1){
	clear: both;
	margin-left: 12%;
}
.item:nth-child(2n){
	float: right;
	margin-right: 12%;
}
.item{
	margin-bottom: 20px;
  }


.tabs_item:nth-child(3){
	clear: both;
}
.tabs_item:after{
	display: none;
}
.tabs{
	margin: 50px auto;
	display: block;
	width: 360px;
}
.tabs_item{
	border: 2px solid $c_red;
	padding: 5px 25px;
	margin-top: 20px;
	margin-right: 25px;
	text-align: center;
	margin-left: 15px;
	margin-right: 5px;
}
.tabs_item:last-child{
	width: 90%;
}

}

//Small: >576px
@include media-breakpoint-down(sm) {
.burgerMenu{
	display: inline-block;
}

.burgerBtn{
	display: block;
}

#menu_nav{
	display: none;
}

.titleBlock{
	width: 75%;
}

.wedoImg{
	margin: 50px 30%;
}

.wedoImg-Right{
	right:0px;
}

.titleBlockLeft{
	left:0px;
}

}

//Extra small: >0
@include media-breakpoint-down(xs) {

.item:nth-child(2n+1){
	margin-left: 10px;
	margin-right: 10px;
}
.item:nth-child(2n){
	margin-left: 10px;
	margin-right: 10px;
}
.item{
	clear: both;
	max-width: 100%;
}

.title{
	p{
		font-size: 16px;
		margin: 10px 5% 0 5%;
	}
}

.yourBusiness h2{
	font-size: 35px;
}

.titleBusiness{
	padding-left: 5%;
	padding-right: 5%;
}

.tabs{
	font-size: 16px;
}
.tabs_item:last-child{
	width: 80%;
}
.tabs_item{
	margin-left: 25px;
}
.tabs_item:first-child{
	margin-left: 14px;
}

.tabs{
	width: 340px;
}
}


/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {

}

//Small: ≤576px
@include media-breakpoint-up(sm) {

}

//Medium: ≤768px
@include media-breakpoint-up(md) {

}

//Large: ≤992px
@include media-breakpoint-up(lg) {

}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {

}
