@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: roboto-example,sans-serif;
	font-weight: bold;
	overflow-x: hidden;
	color: #fff;
	margin: 0;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.clear {
	clear: both;
}

.wrapper{
	max-width: 1260px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	outline:1px solid #cc0000;
 }

#header{
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.menu{
padding-top: 22px;
}

.menu_logo{
	margin-left: 12.6%;
	display: inline-block;
	img{
		float: left;
	}
	h3{
		color: #fff;
		display: inline-block;
		margin-left: 15px;
		margin-top: 20px;
		font-size: 23px;
		font-weight: 500;
		font-family: Gotham;
		}
}

#menu_nav{
	margin: 0;
	margin-right: 12.5%;
	margin-top: 22px;
	font-weight: lighter;
	padding: 0;
	list-style-type: none;
	float: right;
	text-transform: uppercase;
	font-size: 16px;
	li{
		margin-right: 48px;
		float: left;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: #fff;
			text-decoration: none;
			padding-bottom: 3px;
		&:hover{
			color: $c_red;
			border-bottom: 4px solid $c_red;
		}	
		}
	}
}

.header_slogan{
	text-align: center;
	margin-top: 176px;
	h3{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 51px;
		letter-spacing: 2px;
		span{
			color: $c_red;
		}
	} 
	h3:before,h3:after{
		content: '';
		display: inline-block;
		background-color: #fff;
		opacity: 0.2;
		width: 10%;height: 8px;
		vertical-align: middle;
		margin-top: -12px;
	}
	h3:before{
		margin-right: 5px;
	}
	h3:after{
		margin-left: 5px;
	}
	h2{
		font-size: 24px;
		font-family: roboto-exampleLt,sans-serif;
		font-weight: lighter;
		letter-spacing: -0.5px;
		margin-top: -46px;
	}
}

.client{
	position: relative;
	transform: translateX(-50%);
	top: 18px;
	left:50%;
	margin-left: 5.1%;
	display: block;
	width: 334px;
	height: 375px;
}

.clientBtn{
	border: 2px solid $c_red;
	color: $c_red;
  background-color: Transparent;
	border-radius: 5px;
	padding: 11px 30px;
	font-size: 24px;
	font-family:roboto-exampleLt,sans-serif;
	cursor: pointer;
	float: left;
}

.mouse{
	display: block;
	margin-top: 14px;
	margin-left: 12px;
	float: left;
}

.dotLine{
	margin-top: 30px;
	display: inline-block;
	width: 71px;
	height: 320px;
	border-top:1px dashed #fff;
	border-right:1px dashed #fff;
	border-top-right-radius: 30px;
	opacity: 0.2;
}

.arrowHeader{
	display: block;
	width: 28px;
	height: 28px;
	background-color: $c_red;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 30px;
	border-radius: 20px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}


.contactForm{
	z-index: 999999;
	display: none;
	max-width: 380px;
	height: 300px;
	background-color: $c_red;
  border-radius: 25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
	box-shadow: 0 0 0 1000px rgba(0,0,0,0.5), 5px 5px 15px 5px #333;
	li{
		list-style-type: none;
	}
	.name{
		margin-left: 14px;
		margin-bottom: 5px;
	}
	input, textarea{
		border: 2px solid #00C9F9;
		border-radius: 5px;
		max-width: 100%;
	}
}

.fa-times{
	cursor: pointer;
	position: absolute;
	right: 25px;
	top: 20px;
}

.burgerBtn{
		z-index: 99999;
		display: block;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 1px 1px 10px rgba(0,0,0,.4);
		position: absolute;
		top: 25px;
		right: 25px;
		display: none;
		span, span:before, span:after{
			display: block;
			height: 2px;
			width: 16px;
			background-color: #333;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			top: 50%;
			margin-top: -1px;
		}
		span:before{
			transition: all .3s;
			content: '';
			margin-top: -6px;
		}
		span:after{
			transition: all .3s;
			content: '';
			margin-top: 4px;
		}
		&_active span{
			background-color: transparent;
			&:before{
				transform: rotate(45deg);
				margin-top: 0;
			}
			&:after{
				transform: rotate(-45deg);
				margin-top: 0;			
			}
		}
	}

.burgerMenu{
	text-align-last: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	background-color: $c_red;
	position: absolute;
	top: 0;
	line-height: 2.5;
	width: 100%;
	height: 0;
	z-index: 50;
	overflow: hidden;
	display: none;
	padding-left: 0;
	margin: 0;
	transition: height .5s;
	li:first-child{
		margin-top: 100px;
	}
		li{
		list-style-type: none;
		margin-top: 40px;
			a{
					color: #fff;
					text-decoration: underline;
					cursor: pointer;
			}
		}
	&_active{
		height: 100vh;
	}
}

.title{
	text-align: center;
	color: #868686;
	margin: 57px auto 0 auto;
	max-width: 524px;
	h3{
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 28px;
		border-bottom: 1px solid #adadad;
		margin: 0 auto;
		padding-bottom: 6px;
		display: inline-block;
		span{
			color: $c_red;
		}
	}
	p{
		margin-top: 12px;
		font-family: roboto-exampleLt,sans-serif;
		color: #adadad;
		max-width: 524px;
		font-size: 20px;
		font-weight: lighter;
	}
}

.iconsItem{
	max-width: 940px;
	margin: 80px auto 0 auto;
	padding-bottom: 62px;
}
.item:first-child{
	margin-left: 0;
}
.item{
	text-align: center;
	float: left;
	max-width: 205px;
	margin-left: 4%;
	h4{
		color: #868686;
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	span{
		display:block;
		width: 59px;
		height: 1px;
		background-color: #adadad;
		margin: 0 auto;
	}
	p{
		color: #adadad;
		font-size: 15px;
		font-family: roboto-exampleLt,sans-serif;
		font-weight: 500;
	}
}
.youReceive{
	position: relative;
}
.arrowNext{
	display: block;
	width: 28px;
	height: 28px;
	border: 1px solid $c_red;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0px;
	border-radius: 20px;
	color: $c_red;
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}


.yourBusiness{
	text-align: center;
	background-image: url(../img/bisnessBG.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	margin-top: 17px;	
	h2{
		text-transform: uppercase;
		font-size: 51px;
		margin-top: 110px;
	}
	span{
		color: $c_red;
	}
}

.titleBusiness{
	border: 5px solid rgba(162,162,162,0.2);
	margin-top: 91px;
	margin-bottom: 101px;
	display: inline-block;
	padding-left: 13%;
	padding-right: 13%;
	margin-right: 15px;
	margin-left: 15px;
}


.joinUs{
	border: 2px solid $c_red;
	color: $c_red;
  background-color: Transparent;
	border-radius: 5px;
	padding: 11px 30px;
	font-size: 24px;
	font-family:roboto-exampleLt,sans-serif;
	cursor: pointer;
	width: 220px;
	margin-bottom: 100px;
	margin-top: -5px;
}
.arrowHeader-mod{
	bottom: 18px;
}

.formJoin{
	z-index: 999999;
	display: none;
	max-width: 380px;
	height: 100px;
	background-color: $c_red;
  border-radius: 25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
	box-shadow: 0 0 0 1000px rgba(0,0,0,0.5), 5px 5px 15px 5px #333;
	li{
		list-style-type: none;
		margin-top: 20px;
	}
	input, textarea{
		border: 2px solid #00C9F9;
		border-radius: 5px;
		max-width: 100%;
	}
}


.process{
position: relative;
}

.title .h3_process{
	display: inline-block;
	margin-top: -15px;
}

.steps{
	width: 786px;
	height: 565px;
	margin: 100px auto 0 auto;
	position: relative;
	color: #868686;
}
.step{
	position: absolute;
	width: 174px;
	&_content{
		height: 100px;
		padding: 0 18px;
		border-left: 1px solid #adadad;
		border-right: 1px solid #adadad;
		text-align: center;
		h2{
			font-size: 24px;
			text-transform: uppercase;
			font-weight: lighter;
			margin: -10px 0 10px 0;
			border-bottom: 1px solid #adadad;
			display: inline-block;
			span{
				color: $c_red;
				margin-left: 6px;
			}
		}
		p{
			font-size: 15px;
			font-family: roboto-exampleLt,sans-serif;
			font-weight: 500;
			margin-top: 0;
		}
	}
	&:after,&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-left: 1px solid #adadad;
		border-right: 1px solid #adadad;
	}
	&:after{
		transform: rotate(-60deg);
	}
	&:before{
		transform:rotate(60deg);
	}
}

.step-one{
	top: 95px;
	left: 2px;
		&:before{
			border-left: 5px solid rgba(252, 99, 94, 0.97);
			}
		&:after, .step_content{
			border-right: 5px solid rgba(252, 99, 94, 0.97);
		}
}
.step-two{
	top: 149px;
	left: 267px;
	&:before, .step_content{
			border-left: 5px solid rgba(252, 99, 94, 0.97);
		}
}
.step-three{
	top: 0px;
	left: 354px;
		&:before, .step_content{
			border-left: 5px solid rgba(252, 99, 94, 0.97);
			}
		&:after, .step_content{
			border-right: 5px solid rgba(252, 99, 94, 0.97);
		}
}

.step-four{
	top: 100px;
	left: 527px;
	width: 260px;
	.step_content{
		height: 150px;
	}
	&:before{
			border-left: 5px solid rgba(252, 99, 94, 0.97);
			border-right: 5px solid rgba(252, 99, 94, 0.97);
			}
	&:after, .step_content{
			border-right: 5px solid rgba(252, 99, 94, 0.97);
		}
}

.wrap-ic{
	position: absolute;
	top: -19px;
	left: -17px;
	width: 38px;
	height: 38px;

}

.icon1{
	background-image: url(../img/process/Forma_1.png);
}
.icon2{
	background-image: url(../img/process/Forma_2.png);
}
.icon3{
	background-image: url(../img/process/Forma_3.png);
}
.icon4{
	background-image: url(../img/process/Forma_4.png);
}
.step_content .icon5{
	background-image: url(../img/process/Forma_5.png);
	top:auto;
	left: 43%;
	bottom: -88px;
	z-index: 999;
}

.step-img{
	width: 260px;
	position: absolute;
	top: 270px;
	left: 45px;
	.step_content{
		height: 150px;
		background: url(../img/process/processBG.png) no-repeat left center;
	}
	.bg1, .bg2{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background:inherit;
		&:after{
			content: '';
			position: absolute;
			top: -50%;
			left: 0;
			width: 100%;
			height: 200%;
			background:inherit;
		}
	}
		.bg1{
			transform: rotate(60deg);
			&:after{
				transform: rotate(-60deg);
			}
		}
		.bg2{
			transform: rotate(-60deg);
			&:after{
				transform: rotate(60deg);
			}
		}
}

.span_line{
	position: absolute;
	top:-50px;
	left: 119px;
	border-top: 5px solid rgba(252, 99, 94, 0.97);
	width: 115px;
	transform: rotate(30deg);
	z-index: 999;
}

.title-weDo{
	padding-top: 50px;
}

.weDo{
	margin-top: -32px;
}



.titleBlock{
	position: relative;
	width: 32%;
	margin-left: 12.7%;
	margin-right: 2.5%;
	color: #868686;
	text-align: left;
	display: inline-block;
	float: left;
	margin-top: 70px;
	h3{
		font-size: 28px;
		text-transform: uppercase;
		border-left: 10px solid $c_red;
		padding-left: 10px;
		margin-bottom: 0;
	}
	p{
		color: #9e9898;
		font-size: 15px;
		height: 115px;
		line-height: 1.5;
		text-overflow: ellipsis;
		overflow: hidden;
		font-family: roboto-exampleLt,sans-serif;
		font-weight: 400;
		transition: height 1s ease-out 0.5s; 
	}
}

.wedoImg-Right{
	right: -700px;
}

.titleBlockLeft{
	left: -600px;
}
@keyframes slideLeft{
	0%Ð«{
		left: -600px;
	}
	75%{
		left: 30px;
	}
	100%{
		left: 0;
	}
}
@keyframes slideRight{
	from{
		right: -700px;
	}
	75%{
		right: 30px;
	}
	to{
		right: 0;
	}
}

.blockAnim-left{
 	animation: slideLeft 1s ease-in-out;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}
.blockAnim-right{
 	animation: slideRight 1s ease-in-out;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}

.wedoImg{
	margin-top: 66px;
	width: 40%;
	height: auto;
	display: inline-block;
	position: relative;
}

.adve, .marketing, .weDo{
	position: relative;
	padding-bottom: 90px;
}

.adve, .marketing{
	overflow: hidden;
}
.weDo,.marketing{
	background-color: #f2f2f2;
}
.adve{
	margin-top: 68px;
	padding-bottom: 128px;
}

.marketing{
	margin-top: 15px;
	padding-top: 45px;
	padding-bottom: 140px;
}

.titleBlock-adve{
	float: right;	
	margin-right: 12.7%;
	margin-left: 2.5%;
	margin-top: 60px;
	text-align: right;
	h3{
		text-align: right;
		border-right: 10px solid $c_red;
		padding-right: 10px;
		border-left: none;
		padding-left: none;
	}
}

.arrowNext-weDo{
	bottom: 20px;
}

.wedoImg-adve{
margin-left: 12.7%;
}

.moreBtn{
	background-color: $c_red;
	border-radius: 5px;
	 padding: 10px 37px;
   border: none;
   font-size: 20px;
   color: #fff;
   cursor: pointer;
   font-family: roboto-exampleLt,sans-serif;
   font-weight: 300;
   margin-top: 22px;
}

.titleBlock .blockActive{
	height: auto;
}





@import "media"; // Always at the end
